<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
            id="menu_second_root"
            name="Second"
            sequence="10"/>

    <menuitem
            id="menu_second_vacancies"
            name="Vacancies"
            parent="menu_second_root"
            sequence="10"/>


</odoo>